* { /* "*" - Сброс настроек всех элементов. Звездочка значит обращение ко всем строчкам кода*/
box-sizing: border-box;
margin: 0;
padding: 0;
}


.logoWrapper {
	position: absolute;
	margin-top: -65px;
}


html, body {
	height: 100%;
	font-family: 'Times New Roman', Arial, Helvetica, sans-serif, RobotoLight;
}

/* Создает розовый блок для меню */
.wrapperHead header {
	margin-top: 70px;/*Отступ background с вверху в низ*/
	width: 100%; /*Ширина блока меню на 100 процентов не зависимо от размера.*/
	background: pink; /*Цвет объекта*/

}
/* /Создает розовый блок для меню */

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;

}


.content { 
	margin-top: 20px;
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
	/*flex: 1 0 auto;*/ /*В моб версии слишком большой отступ из за этого*/
}
/*Страница index*/
.contentVideo {
	margin-top: 20px;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;

}
/* /Страница index*/

.footer {
	flex: 0 0 auto;
	min-width: 100%;
	height: 80px;
	background: pink;
}


/* Меню */
.menu {
	display: flex; /*Делает текст меню горизонтальным*/
	list-style: none; /*Убирает нумирацию*/
	justify-content: center;/*Выравнивание по центру*/
	padding: 5px;
}

.menu li{
	padding: 0px 20px 0px 20px; /*Отступы текста друг от друга в меню*/
}

.menu li a {
	font-size: 13px; /*Размер текста*/
	text-transform: uppercase; /*Делает буквы большими*/
	text-decoration: none; /*Убирает подчеркивание текста*/
	color: black; /*меняем цвет ссылок*/
	-moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
	padding: 6px;
}

/*:hover - Определяет стиль элемента при наведении на него курсора мыши, 
но при этом элемент еще не активирован, иными словами кнопка мыши 
не нажата.*/
.menu li a:hover {
	background: #b3adad;
	box-shadow: 0 0 0px 0px #b3adad inset, 0 0 0px 0px #b3adad;
}
/* /Меню */


/*Регистрация кнопки*/
.signup {
	top: 25px;;
	position: absolute;
	right: 0;

} 

.register ul{
	display: flex;
	font-size: 13px;
	list-style: none;
	text-transform: uppercase;
}

.register li a {
	color: black;
	margin: 7px;
	padding: 6px;
	text-decoration: none; /*Убирает подчеркивание ссылки*/
}

/*:hover - Определяет стиль элемента при наведении на него курсора мыши*/
.register li a:hover {
	background: #b3adad;
	box-shadow: 0 0 0px 0 #b3adad inset, 0 0 0px 0px #b3adad;
	-moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
}
/* /Регистрация кнопки */



/* Авторизация */
.profileWrap {
	top: 25px;;
	position: absolute;
	left: 92%;
	justify-content: center;
	z-index: 3;
}


.profile-icon i{
	font-size: 25px;
	color: black;
}

.sub-profile {
	text-align: right;
	
}

.sub-profile li {
	display: block;

}

.sub-profile li a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-size: 12px;
	
}
.sub-profile li a:hover {
	
}

.profileWrap ul {
	margin: 0;
	list-style: none;
	display: none;
	
}

.profileWrap .profile-icon {
	font-size: 18px;
	cursor: pointer;
}

.profileWrap .profile-icon::before {
	position: absolute;
	content: '▼';
	font-size: 80%;
	color: black;
	margin-left: 25px;
	margin-top: 4px;
}

.profileWrap.open .profile-icon::before {
	content: '▲';
	position: absolute;
}

.profileWrap.open ul {
	background: #e8e8e8;
	display: block;
	margin-top: 5px;
	margin-left: -22px;
	z-index: 2;
}

.profileWrap.open ul li{
	padding: 8px;
	color: #000; 
  	border-bottom: 1px solid black;
}

.profileWrap.open ul li:hover {
	padding: 8px;
	background-color: pink;
}


/* /Авторизация */


.video {
	position: absolute;
	width: 200px;
}

/* Страница products */

.cardWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	float: left;
}


.card { 
	background-color: pink;
	margin: 0px 10px 70px 10px;
	border: 1px solid;
	width: 200px;
	height: 350px;
	-moz-box-shadow: 0 0 10px black; 
	-webkit-box-shadow: 0 0 10px black; 
	box-shadow: 0 0 10px black;
}

.cardImg {
	width: 158px; 
	height: 224px;
	margin-top: 15px;
	margin-left: 20px;
	border: 1px solid black;
	border-radius: 21%;"
}

.cardText {
	width: 200px;
	position: absolute;
	text-align: center;
	margin-top: 5px;
	overflow: hidden;
	font-size: 15px;
	padding: 10px;
}

.cardUrl {
	text-align: center;
	margin-top: 120px;
}

.glow-button {
	display: inline-block;
	padding: 3px;
	width: 200px;
	height: 30px;
	border-radius: 0px;
	box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
	transition: .15s ease-in-out;
}
.glow-button:hover {
	box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
	color: #F137A6;
}
.glow-button strong {
	font-size: 17px;
}

.cardUrl a{
	color: black;
	font-size: 20px;
	text-decoration: none;
}

/* /Страница products */


/* Страница Journal */
.productsJournal { 
	margin: 0px 0px 0px 10px; /*Отступы журналов друг от друга*/
}


.productsJournal h2  {
	padding: 5px; /*Отступ заголовка от diva*/
	text-align: center; 
}

.productsJournal h4  {
	text-align: center; /*Выравнивает подзаголовок по центру*/
}


.productsJournal img {
	border: 1px solid purple; /*Рамка для картинок*/
	max-width: 200px; /*Делает картинки во весь блок див*/
}


.productsJournalText {
	margin-bottom: 20px;
	/*min-height: 200px;*/ /*ничего не меняет вроде как*/
	box-shadow: 0 7px 20px rgba(0, 0, 0, .25); /* тень блока */
	border: 1px solid black; /* Рамка блока */	
}



.numeration {
	position: absolute; /*сохраняет блоки нужного размера*/
	padding: 10px;
	font-size: 12px;
	word-wrap: break-word; /*Авто-перенос текста*/
}

.btn {
	text-align: center; /*Выравнивает кнопку по центру*/
	/*margin-top: 10px; *//*Ничего не изменилось*/
	margin: 10px 0px 10px 00px; /*Отступ кнопки от блока*/
}

.btn button {
	padding: 5px 10px 5px 10px; /*Размер кнопки*/
}

.price {
	text-align: center; /*Выравнивает цену по центру*/
	margin-top: 90px; /*отступ цены от блока он и удерживает нужный размер дива*/
}
/* /Страница Journal */


/* Страница hypno-video */


.productsVideo {
	margin-left: 10px;
	flex-wrap: wrap;
}

.productsVideo h4 {
	text-align: center;

}

.textVideo {
	padding-top: 3px; 
	height: 200px;
	margin: 10px 0px 60px 0px;
	border: 1px solid black; /* Рамка блока */
	width: 230px;
	box-shadow: 0 7px 20px rgba(0, 0, 0, .25); /* тень блока */
}

.textVideo p {
	font-size: 14px;
	text-align: center;
}

.videoInfo {
	font-size: 12px;
	margin-left: 5px;
	margin-top: 10px;
}

.videoPrice	{
	margin-top: 15px;
	text-align: center;
}

.videoBtn{
	text-align: center;
	margin: 10px;
}


.videoBtn button {
  display: inline-block;
  width: 5em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: rgb(0,0,0);
  outline: none;
  border: 1px solid rgba(0,0,0,.4);
  border-top-color: rgba(0,0,0,.3);
  border-radius: 2px;
  background: linear-gradient(rgb(255,255,255), rgb(240,240,240));
  box-shadow:
   0 0 3px rgba(0,0,0,0) inset,
   0 1px 1px 1px rgba(255,255,255,.2),
   0 -1px 1px 1px rgba(0,0,0,0);
  transition: .2s ease-in-out;
}

.videoBtn button:active {
  background: linear-gradient(rgb(255, 204, 255), rgb(255, 204, 255));
  box-shadow:
   0 0 3px rgba(0,0,0,.5) inset,
   0 1px 1px 1px rgba(255,255,255,.4),
   0 -1px 1px 1px rgba(0,0,0,.1);
}


/* /Страница hypno-video */

/* Страница login */
.formAutoWrapper {
	border-radius: 10px;
	border: 1px solid black;
	box-shadow: 0 7px 20px rgba(0, 0, 0, 1.7); 
	width: 270px;
	height: 300px;
	background-color: rgba(255, 192, 203, 0.7);
	margin: 150px auto 0 auto;
}

.formTable {
	text-align: center;
	padding-top: 30%;
}

.formTable input[name="login"], input[name="password_log"]{
	width: 200px;
	height: 50px;
	font-size: 14px;
	text-align: center;
	margin-bottom: 15px;
	border-radius: 10px;
	border: 1px solid black;
}


.formButton button{
	padding: 5px 30px;
	border: none;
	border-bottom: 2px solid black;
	border-radius: 5px;
}
/* /Страница login */

/* Страница signup */
.regFormWrapper {
	border-radius: 10px;
	border: 1px solid black;
	box-shadow: 0 7px 20px rgba(0, 0, 0, 1.7); 
	width: 300px;
	height: 350px;
	background-color: rgba(255, 192, 203, 0.7);
	margin: 150px auto 0 auto;
}

.formTableReg {
	text-align: center;
	padding-top: 10%;
}

.formTableReg input[name="login"], input[name="email"], input[name="password"], input[name="password_2"]{
	width: 200px;
	height: 50px;
	font-size: 14px;
	text-align: center;
	margin-bottom: 15px;
	border-radius: 10px;
	border: 1px solid black;
}

.regFormBut button{
	padding: 5px 30px;
	border: none;
	border-bottom: 2px solid black;
	border-radius: 5px;
	background-color: #b3b3b3;
	color: black;
}

.wrapperLogin {
	margin-top: 10%;
	width: 350px;
	position: relative;
	margin: 0px auto; 
	background-color: gray;
	text-align: center;
	border-radius: 10px;
}

.wrapperReg {
	margin-top: 10%;
	width: 350px;
	position: relative;
	margin: 0px auto; 
	background-color: gray;
	text-align: center;
	border-radius: 10px;
}
/* /Страница signup */


/* Страница categories */

.catAll {
	text-align: center;

}



.imgSize {
	background: pink;
	display: inline-block;
	width: 180px;
	height: 120px;
	overflow: hidden;
	border: 1px solid black;
	margin: 0px 5px 30px 5px;
}

.imgSize img {
	position: relative;
    width: 100%;
}

.imgSize strong {
	width: 180px;
	height: 17px;
	display: block;
	position: absolute;
	color: black;
	text-transform: uppercase;
	font-size: 11px;
}


/* /Страница categories */
.videoStyle {
	display: inline-block;
	border: 1px solid black;
	background-color: black;
	width: 170px;
	height: 97px;
	overflow: hidden;
	margin: 0px 10px 40px 10px;
	z-index: 1;
}



.videoName a {
	z-index: 1;
	width: 178px; /*Что бы название не вылезало за края*/
	position: absolute;
	margin-top: 100px;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: black;
	white-space: pre;
	text-decoration: none;
}


.paginationWrapper {
	text-align: center;
	padding: 7px;
}

.pagination {
	font-size: 15px;
    display: inline-block;
}

.pagination a {
    color: black;
    padding: 4px 8px;
    text-decoration: none;
}
.pagination span {
    color: black;
    padding: 4px 8px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: pink;
    border-radius: 5px;
}

.footerInfo {
	text-align: center;
	padding-top: 5px;
}

.footerInfo a{
	text-decoration: none;

}

.beta {
	margin-top: 10px;
}

.textDmca h2{
	text-align: center;
}

.textDmca {
	padding: 0px 15px 25px 15px;
}
