<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>	
	<footer>
		<div class="footer">
			<div class="footerInfo">
				<strong>Информация:</strong><br>
					<div class="footerText">
						<strong><a href="https://t.me/sissychannels" target="_blank">Telegram</a> | 
						<a href="https://t.me/allsissybot" target="_blank">Поддержка</a></strong>
					</div>
					<div class="beta">
						<h6>Beta-version</h6>
					</div>		
					<!-- <div class="repost">
						<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
						<strong>Пригласи друзей:</strong>
						<div class="wrapperRepost">
							<ul>
								<li class="facebook"><a href="#" onClick="window.open('https://www.facebook.com/sharer.php?u=worldsissy.com','sharer','status=0,toolbar=0,width=650,height=500');"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
								<li class="twitter"><a href="#" onClick="window.open('https://twitter.com/intent/tweet?text=Мир SISSY девочек. У нас собрано самое лучшее порно в тематике: Shemale/sissy/futanari. worldsissy.com','sharer','status=0,toolbar=0,width=650,height=500');"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
								<li class="vk"><a href="#" onClick="window.open('https://vkontakte.ru/share.php?url=worldsissy.com','sharer','status=0,toolbar=0,width=650,height=500');"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a></li>
								<li class="telegram"><a href="#" onClick="window.open('https://telegram.me/share/url?url=worldsissy.com','sharer','status=0,toolbar=0,width=650,height=500');"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>-->
			</div> 
		</div>
	</footer>
</body>
</html>